.container{
	background-color: lightsalmon;
}
#firstName, #lastName, #nameSubmitButton{
	padding: 0.5em;
}
#firstName{
	margin-right: 1em;
}
#lastName{
	margin-left: 1em;
}
.selectedDrinkArea{
	background-color: aliceblue;
	padding: 0.5em;
}
#rightToBeForgotten{
	position: absolute;

}
#rightToBeForgotten > button{
	padding: 1em;
	color: red;
	background-color: darkred;
}