

<div class="container">
	<div *ngIf="customerKnownBoolean"><h3> {{ message }}</h3></div>
	
	<div *ngIf="!customerKnownBoolean"><h3> {{message1}}</h3></div>
	<form>
		<input type="text" id="firstName" placeholder="Enter firstname" [disabled]="formSubmitted" (keyup)="firstNameInput($event)">
		<input type="text" id="lastName" placeholder="Enter lastname" [disabled]="formSubmitted" (keyup)="lastNameInput($event)">
	</form>
	<p></p>
	<button type="submit" id="nameSubmitButton" [disabled]="clickedButton"  (click)="handleSaveName()">Submit Name</button>
</div>

<div class="selectedDrinkArea"> 
	<span> {{ drinkWithText }}  </span> 
</div>

<ng-container *ngIf="haveUsualDrink">
	<button value="{{ theUsualBtn }}" (click)="theUsualButton($event)"> The Usual </button>	
	
</ng-container>
<div> {{ theSelectedUsual }} </div>

<app-select-beverage *ngIf="customerKnownBoolean" (choosenDrink)="handleTheSelected($event)"></app-select-beverage>


<!-- <div id="rightToBeForgotten" >
	<strong>This is the message from app-component: {{ message }}</strong>
</div> -->