#rightToBeForgotten{
	position: absolute;
}
#rightToBeForgotten > button{
	padding: 1em;
	color: red;
	background-color: darkred;
	cursor: pointer;
	border-radius: 20px;
	border: 2px solid red;
}
#rightToBeForgotten > button:hover{
	background-color: tomato;
	color: darkgreen;
	border: 2px solid rgb(0, 243, 0);
}
#rightToBeForgotten > button:active {
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}